.container{
    background-color: #ffffff;
    border: 5px solid #000000;
    width: 1000px;
    height:500px;
    margin: auto;
}

.side-div{
    height: 100%;
    background-color: #0000cd;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 1em;
    border-right: 5px solid #000000;
    color: #ffffff;
}

 .blog-info{
    height: 100%;
    width: 650px;
    display: inline-block;
} 

.content-div{
    display: inline-block;
    height: 100%;
    width: 70%;
    padding-left: 40px;
}

/*.header{
    display: inline-block;
    width: 80%;
} */
.headers{
    display: inline-block;
    width: 70%;
    padding-top: 20px;
    border-top: #808080;
    
}
.img{
    display: inline-block;
    width: 20%;
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 140px;
    
}
.article{
    padding-top: 20px;
}

.side-block{
   /* position: relative;
    top: 120px; */
    background-color: #0000cd;
    vertical-align: top;
    color: #ffffff;
    
}
.sub-header{
    padding-top: 0px;
}

.btn-css{
    background-color: #008000;
    color: #ffffff;
}

.btn-pure{
    background-color: #0000cd;
    color: #ffffff;

}
.btn-javascript{
    background-color: #ff0000;
    color: #ffffff;

}