.container{
    margin: auto;
    width: 80%;
}
.header{
    background-color: #6495ed;
    margin: auto;
    text-align: center;
    padding: 20px;
    
}
.link-home{
    display: inline-block;
    width: 20%;
}
.dropdown{
    display: inline-block;
    width: 20%;
    overflow: hidden;
}
.dropdown-link{
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #6495ed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #f9f9f9;
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.link-company{
    display: inline-block;
    width: 20%;
}
.link-blog{
    display: inline-block;
    width: 20%;
}

.content{
    background-color: #8a2be2;
    margin-top: 10px;
}
.logo{
    display: inline-block;
    width: 40%;
}
.image{
    margin: 10px;
    height: 180px;
    width: 250px;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
}
.main-content{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.secondary-content{
    margin: 20px;
    padding-bottom: 20px;
}
.main{
    margin-top: 20px;
    font-size: large;
}
.secondary-main{
    font-size: large;
}

