body{
    background-color: #808080;
}

.header{
    width: 100%;
    border-bottom: 3px solid #000000;
    display: inline-block;
    background-color: #808080;
}
.heading{
    display: inline-block;
    margin: 10px 20px 10px 0px;
}
.header-links{
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    
}
.link{
    display: inline-block;
}
.log-in{
    display: inline-block;
    text-align: right;
    margin-left: 300px;
}
.container{
    width: 1260px;
}
.company-head{
    background-color: #ffffff;
    width: 60%;
    height: 200px;
    border: 2px solid #000000;
    margin: 20px 70px 10px 250px;
    text-align: center;
}
.heading{
    display: inline-block;
}
h1{
    font-size: 2.5em;
    text-align: center;
    margin: 30px 0px 10px 0px;
    font-weight: 700;
    line-height: 2;
    display: inline-block;
    width: 100%;
}
.heading-content{
    display: inline-block;
    width: 65%;
}
h4{
    width: 100%;
}
.main-content{
    border: 2px solid #000000;
    background-color: #ffffff;
    width: 65%;
    margin: 20px 70px 10px 220px;
}
.left-content{
    display: inline-block;
    width: 65%;
    height: 100%;
    margin: 15px 10px 20px 15px;
    
}
.right-content{
    display: inline-block;
    width: 28%;
    height: 100%;
    vertical-align: top;
    margin:15px 10px 20px 5px;
    text-align: center;
}
.left-head{
    display: inline-block;
    width: 90%;
    height: 40%;
    font-size: 2em;
}
.left-body{
    display: inline-block;
    width: 90;
    height: 50%;
}
.half-section{
    display: inline-block;
    width: 49%;
    height: 100%;
}
.section-content{
    display: inline-block;
    width: 100%;
    height: 49%;
    margin: 5px 8px 8px 0px;
}
.image{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
img{
    height: 70px;
    width: 70px;
}
.description{
    display: inline-block;
    width: 70%;
}
h2{
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
}
.button{
    background-color: #808080;
    border: 3px solid #000000;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
    margin-bottom: 20px;

}
.location-date{
    text-align: left;
    margin-left: 30px;
}
.location{
    text-decoration: underline;
}
h4{
    margin-bottom: 7px;
    font-size: 1.2em;
}

table{
    width: 80%;
    height: 90px;
    border: 2px solid #000000;
    margin-left: 30px;
    padding: 5px;
}
td{
    margin: 5px 5px 5px 5px;
    border: 2px solid #000000;
    text-align: left;
    padding: 3px;
}
.company-details{
    border-top: 2px solid #000000;
    background-color: #ffffff;

}
.company-links{
    display: inline-block;
    width: 80%;
    text-align: center;
    margin-bottom:20px;
    margin-left: 60px;
}
.bottom-links{
    display: inline-block;
    width: 22%;
    
}
.social{
    width: 32px;
    height: 32px;
}
.footer{
    display: inline-block;
    width: 100%;
    margin-bottom:20px;
    margin-left: 40px;
}
.footer-link{
    margin: 60px;
}
.footer-links{
    display: inline-block;
    width: 90%;
    text-align: left;
}
.default-link{
    display: inline-block;
    width: 70%;
}
.footer-button{
    display: inline-block;
    width: 20%;
    padding: 5px;
    border-radius: 30%;
    font-weight: 700;
}