element.style {
}
.opener h1 {
    color: #2a4758;
    font-size: 3.5rem;
    font-weight: 400;
    padding-top: 100px;
    height: auto;
    width: 100%;
}
<style>
p, h1, h2, h3, h4, h5, h6 {
    cursor: auto;
    user-select: text !important;
}
<style>
p, h1, h2, h3, h4, h5, h6 {
    cursor: auto;
    user-select: text !important;
}
h1 {
    font-size: 1.2rem;
    letter-spacing: .14rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #282828;
    text-transform: uppercase;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.opener {
    text-align: center;
    background: url(/assets/photo3-412c01d….png);
    background-color: #e4e9e5;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-position: 50% 0%;
    height: 400px;
}
<style>
body, div, a, p, span {
    user-select: text !important;
}
<style>
body, div, a, p, span {
    user-select: text !important;
}
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 100%;
}
body {
    line-height: 1;
}
injected stylesheet
:root {
    --pt-ext-fontSecondary:  "Roboto:400", sans-serif;
    --pt-ext-font-size-primary:  14px;
    --pt-ext-font-size-secondary:  12px;
    --pt-ext-line-height:  1.7;
    --pt-ext-font-item-font-weight:  700;
    --pt-ext-font-tooltip-header-font-size:  20px;
}
injected stylesheet
:root {
    --pt-ext-light-palette-background:  #f0f1f5;
    --pt-ext-light-palette-clickable-primary:  #3e5362;
    --pt-ext-light-palette-clickable-primary-hover:  #1d2b36;
    --pt-ext-light-palette-clickable-secondary:  #999999;
    --pt-ext-light-palette-clickable-secondary-hover:  #777777;
    --pt-ext-light-palette-text:  #333333;
    --pt-ext-light-palette-labels:  #89939b;
    --pt-ext-light-palette-separator:  #ebedef;
    --pt-ext-dark-palette-background-primary:  #3e5262;
    --pt-ext-dark-palette-background-secondary:  #384a59;
    --pt-ext-dark-palette-clickable-primary:  #ffffff;
    --pt-ext-dark-palette-separator:  #526472;
    --pt-ext-dark-palette-labels:  #c5cbd0;
    --pt-ext-overall-palette-field:  #e1e3eb;
    --pt-ext-overall-palette-active-area:  #ffffff;
    --pt-ext-overall-palette-overlay:  #000000;
    --pt-ext-accent-palette-clickable:  #168be8;
    --pt-ext-accent-palette-clickable-2:  #0070cc;
    --pt-ext-accent-palette-active-state:  #ff9833;
    --pt-ext-accent-palette-positive:  #49c661;
    --pt-ext-accent-palette-negative:  #de4747;
    --pt-ext-accent-palette-neutral:  #999999;
    --pt-ext-accent-palette-labels:  #ffffff;
    --pt-ext-color-logo:  #000000;
}
<style>
::selection {
    background-color: #338FFF !important;
    color: #fff !important;
}
<style>
::selection {
    background-color: #338FFF !important;
    color: #fff !important;
}