.header{
    background-color: #6495ed;
    height: 60px;
    
}
.left-content{
    display: inline-block;
    width: 70%;
    border: 5px solid #adff2f;
    vertical-align: top;
}
    
.right-content{
    display: inline-block;
    width: 28%;
    background-color: rgb(220, 20, 187);
    padding: 5px 5px 5px 5px;
}
.left-div{
    margin: auto;
   /* padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; */
    padding: 10px 10px 10px 10px;
    border: 4px solid #adff2f;
}
h1{
    font-size: xx-large;
    font-style: bold;
}
h2{
    padding-bottom: 20px;
}