.container{
    width: 500px;
    height: 494px;
    border: 2px solid #000000;
    margin: auto;
    background-color: #000000;
}
.upper{
    margin: 1px;
}
.lower{
    margin: 2px;
}
.upper-left{
  display: inline-block;
  width: 25%;
  background-color: #deb887;
  height: 356px;
  vertical-align: top;
}
.upper-right{
    display: inline-block;
    width:73%;
    border-left: 4px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #ff0000;
    height: 360px;
    vertical-align: top;
}
.lower-left{
    display: inline-block;
    width: 23.5%;
    border-bottom: 4px solid #000000;
    background-color: #0000ff;
    height: 128px;
    padding-left: 10px;
}
.lower-middle{
    display: inline-block;
    width: 65%;
    border-bottom: 4px solid #000000;
    background-color: #deb887;
    height: 128px;

}
.lower-right{
    display: inline-block;
    width: 7%;
    border-bottom: 2px solid #000000;
    height: 128px;
    background-color: #deb887;
}
.upper-left-first{
    border-bottom: 5px solid #000000;
    width: 122%;
    height: 50%;
    background-color: aqua;
}
.upper-left-second{
    width: 122%;
    height: 49%;
    
    background-color: brown;
}
.lower-right-first{
    display: inline-block;
    border-top: 1px solid #000000;
    width: 100%;
    height: 48%;
    background-color: #deb887
}
.lower-right-second{
    display: inline-block;
    border-top: 4px solid #000000;
    border-bottom: 3px solid #000000;
    width: 100%;
    height: 47%;
    background-color: #ffff00;
}