.container{
    width: 100%;
}

.header{
    width: 40%;
    display: inline-block;
    text-align: center;
    font-size: large;
}
.header-detail{
    width: 58%;
    display: inline-block;
    text-align: right;
}
.head{
    border-bottom: 2px solid black;
    padding-top: 10px;
}
.header-links{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}
#link{
    padding: 60px;
}
.article{
    display: inline-block;
    width: 30%;
}
.article-epaper{
    text-align: center;
}
.article-link{
    background-color: rgb(95, 90, 90);

}

/*.article-cricket{
    position: relative;
    top: 110px;
} */

.article-nepal{
    position: relative;
    right: 50px;
    top: 100px;
}

