.container{
    width: 90%;
    border: 1px solid #232323;
    align-items: center;
    background-color: #faebd7;
    align-self: auto;
    margin: auto;
}

.header{
    text-align: center;
}

.left-section {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.right-section{
    display: inline-block;
    width: 25%;
    text-align: right;
}

.half-section{
    display: inline-block;
    width: 49%;
}

.personal-info-content{
    border-bottom: 4px solid #ff6347;
    margin: auto;
    padding: 10px;
}

.education-info-content{
    border-bottom: 4px solid #ff6347;
    margin: auto;
    padding: 10px;
}

.work-experience-content{
    border-bottom: 4px solid #ff6347;
    margin: auto;
    padding: 10px;
}

.personal-left-section{
    vertical-align: top;
    
}

.main-content {
    width: 95%;
    margin: auto;
}

.image{
    width: 120px;
    height: 150px;
    padding-left: 70px;
}
