.container{
    margin: 40px;
    
}
.header{
    border: 2px solid #000000;
    border-radius: 8%;
    text-align: center;
    
}
.logo{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 30px;
    /*align-self: right;*/
    margin-left: 30px;
}
h1{
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    font-size: xx-large;
}
.content{
    margin: 20px;
    padding: 20px;

}
.left-section{
    border: 2px solid #000000;
    display: inline-block;
    width: 35%;
    margin: 10px;
    height: 200px;
    vertical-align: top;
    text-align: center;
    padding: 3px;

}
.right-section{
    border: 2px dotted #000000;
    display: inline-block;
    width: 55%;
    border-radius: 5%;
    overflow: scroll;
    height: 200px;
    margin: 10px;
    padding: 3px;
}
.link{
    margin: 20px;
    display: block;
}
.about-us{
    border: 2px solid #000000;
    border-radius: 5%;
    margin-top: 40px;
    padding: 20px;
}
.about-us-description{
    display: inline-block;
    width: 55%;
    vertical-align: top;
    margin: 20px;
    font-size: large;
}
.about-us-logo{
    display: inline-block;
    width: 35%;
    margin: 10px;
}
.about-us-img{
    height: 320px;
    width: 350px;
}
.contact-us{
    border: 2px solid #000000;
    border-radius: 5%;
    margin-top: 40px;
    padding: 20px;
}
.contact-us-content{
    background-color: #808080;
    text-align: center;
    display: block;
}
.map-link{
    padding-top: 20px;
}
h2{
    font-size: larger;
}

.about-us-content{
    vertical-align: top;
}
.contact-us-description{
    display: block;
}