body {
    background-color: #dd8877;
    border: 5px dotted #000000;
}

.container{
    width: 100%;
}

.owner-image{
    border: 5px solid #000000;
}

.seller-info{
    padding-left: 20px;
    width: 50%;

}

.seller-head{
    display: inline-block;
    width: 20%;
}

.seller-data{
    display: inline-block;
    width: 40%;
}

h1 {
    text-align: center;
}

h2{
    padding-left: 20px;
}

.item-jug{
    width: 30%;
    display: inline-block;

}

.item-frame{
    width:30%;
    display: inline-block;
}

.item-cycle{
    width: 30%;
    display: inline-block;
}

.item-list{
    padding-left: 20px;   
}
