.container{
    background-color: #808080;
    width: 600px;
    height: 500px;
    margin: auto;
}
.content{
    margin: auto;
    padding-top: 10px;
}
.div-first{
    width: 95%;
    height: 80px;
    background-color: #fffff0;
    margin: 10px;
}
.div-second{
    width: 98%;
    height: 80px;
    background-color: #808080;
    margin: 10px;
    display: inline-block;
}
.div-second-part{
    display: inline-block;
    width: 22%;
    height: 80px;
    margin-right: 14px;
    background-color: #fffff0;
}
.div-combine{
    width: 95%;
    height: 170px;
    background-color:#808080;
    margin: 10px;
}
.div-half1{
    display: inline-block;
    width: 48%;
    height: 170px ;
    margin-right: 10px;
    background-color: #fffff0;
}
.div-half2{
    display: inline-block;
    width: 49%;
    height: 180px ;
    background-color:#808080;
    vertical-align: top;
}
.div-double{
    display: inline-block;
    width: 45.5%;
    height: 149px;
    margin-left: 10px;
    background-color: #808080;
}
.div-last{
    width: 96%;
    padding-top: 5px;
    height: 80px;
    margin: 8px;
    background-color: #fffff0;
}

.div-quad{
    display: inline-block;
    width:98%;
    height: 75px;
    margin-bottom: 15px;
    background-color: #fffff0;

}