* {
    box-sizing: border-box;
    margin: auto;
}

.container{
    border: 2px solid #000000;
    width: 1000px;
    margin: auto;
}
.header-img{
    height: 20px;
    width: 50px;
}
.header{
    width: 70%;
    margin: auto;
}
h1{
    display: inline-block;
    margin: 2px;
    margin-left: 40px;
}
.recent-notification{
    text-align: center;
}
.nav-bar{                       /*1.22*/
    display: inline-block; 
}
.nav-content{
    display: inline-block;
    width: 60%;
    
}
.nav-search{
    display: inline-block;
    width: 30%;
    position: relative;

}
.main-content{
    border: 1px solid #000000;
    margin: 10px;
    display: inline-block;
}
.national-services{
    border: 1px solid #000000;
    margin: 10px;
    width: 50%;
    display: inline-block;
}
.contact-details{
    border: 1px solid #000000;
    margin: 10px;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 90%;
}
.address-detail{
    border: 1px solid #000000;
    margin: 10px;
}
.social-media{
    border: 1px solid #000000;
    margin: 10px;
}

h2{
    text-align: center;
}
.national-service-image{
    text-align: center;
}
.link{
    /*padding: 10px;
    margin: 5px; */
    display: block;
    margin-bottom:20px;
    text-align: center;
}
.social-media-contact{
    border: 1px solid #000000;
    margin: 10px;
}
h3{
    margin: 10px;
}
.social-media-image{
    height:55px ;
    width: 50px;
    display: block;
    margin-bottom: 5px;
}
.social-media-contact{
    display: inline-block;
    width: 40%;
}
.span{
    text-align:center;
}